<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andrtoid="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.angelruiz.cursoandroid">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" /> <!-- agregamos permisos para hacer llamadas de telefono -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activitys.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name=".Activitys.WebServiceMysql">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Bienvenido"
            android:theme="@style/Theme.AppTheme.NoActionBar">

            <!-- podemos darle un style diferente a cada activity. -->
            <!-- android:theme="@style/Theme.AppTheme.Light.NoActionBar"> -->
        </activity>
        <activity android:name=".Activitys.Lista"></activity>
        <activity android:name=".Activitys.ListaContacto"></activity>
        <!--
        parentActivityName,permite regresar a la activity anterior con el boton de subir en la actionBar,
        funciona con una clase padre y una hija, la padre sera ala que va a regresar, aqui sera:.ListaContacto,
        clase padre es la primera , clase hija la segunda por asi decirlo
        -->
        <activity
            android:name=".Activitys.DetalleContacto"
            android:parentActivityName=".Activitys.ListaContacto"
            tools:targetApi="jelly_bean">

            <!-- soporte para versiones 4.0 y menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.ListaContacto"></meta-data>
        </activity>
        <activity android:name=".Activitys.ImagenGrid"></activity>
        <activity android:name=".Activitys.DetalleImgContacto"></activity>
        <activity android:name=".Activitys.ListaAgenda"></activity>
        <activity android:name=".Activitys.ReciclerSucursales"></activity>
        <activity android:name=".Activitys.ActivityFragmet"></activity>
        <activity android:name=".Activitys.ViewPagerTabs"></activity>
        <activity android:name=".Activitys.ActivityFragmentProdMaDeBD"></activity>
        <activity
            android:name=".Activitys.Splash"
            android:label="@string/title_activity_web_service_mysql"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>