<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andrtoid="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.angelruiz.cursoandroid">

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- agregamos permisos para hacer llamadas de telefono -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--(android:nam)-persistence of data in all app ussing firebase-->
    <application
        android:name=".PersistenceDataFireBase.PersistenceDataFrb"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.BottomNavegationViewCP"
                  android:configChanges="orientation|keyboardHidden|screenSize"><!-- prevents the restart of the activity, for keep the fmt current if it rote the screen for example -->
        </activity>
        <activity android:name=".Activitys.ActivityVPagerInstruction" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".Activitys.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Activitys.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Bienvenido"
            android:theme="@style/Theme.AppTheme.NoActionBar">

            <!-- podemos darle un style diferente a cada activity. -->
            <!-- android:theme="@style/Theme.AppTheme.Light.NoActionBar"> -->
        </activity>
        <activity android:name=".Activitys.Lista" />
        <activity android:name=".Activitys.ListaContacto" />
        <activity
            android:name=".Activitys.DetalleContacto"
            android:parentActivityName=".Activitys.ListaContacto"
            tools:targetApi="jelly_bean">

            <!-- soporte para versiones 4.0 y menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.ListaContacto" />
        </activity>
        <!--
        parentActivityName,permite regresar a la activity anterior con el boton de subir en la actionBar,
        funciona con una clase padre y una hija, la padre sera ala que va a regresar, aqui sera:.ListaContacto,
        clase padre es la primera , clase hija la segunda por asi decirlo
        -->
        <activity android:name=".Activitys.ImagenGrid" />
        <activity android:name=".Activitys.DetalleImgContacto" />
        <activity android:name=".Activitys.ListaAgenda" />
        <activity android:name=".Activitys.ReciclerSucursales" />
        <activity android:name=".Activitys.ActivityFragmet" />
        <activity android:name=".Activitys.ViewPagerTabs" />
        <activity android:name=".Activitys.ActivityFragmentProdMaDeBD" />
        <activity
            android:name=".Activitys.WebServiceMysql"
            android:label="@string/title_activity_web_service_mysql"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- permissions api 24 a 7 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".FireBaseNotification.Notification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- we declare content provider custom -->
        <provider
            android:name="com.example.angelruiz.cursoandroid.CustomContentPovider.ModelContentProvider.WeightProvider"
            android:authorities="com.example.angelruiz.cursoandroid"
            android:exported="false"> <!-- not share data with other apps -->
        </provider>

    </application>

</manifest>